.layout-content {
    min-height: 200px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}

.layout-content-main {
    padding: 10px;
}

.layout-breadcrumb {
    padding: 10px 15px 0;
}

@keyframes ani-demo-spin {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}

.demo-spin-col {
    height: 100px;
    position: relative;
    width: 100%;
}